.container {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 20px;
    color: rgb(242, 44, 44);
}

ul {
    padding: 0;
}

ul li {
    font-size: 20px;
    list-style: none;
}